.coach {
    background: rgb(159, 162, 163);
    width: 450px;
    margin: 20px;
    border-radius: 10px;
    height: auto;
    min-height: 200px;
    text-align: center;  
}
p { margin:0 }
.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    display:flex;
    align-items: center;
    text-align: left;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
.button span {
	z-index: 2;	
	display: block;
	position: relative;
	width: 100%;
	height: 100%;	
}
.button {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    background-color: #258eff !important;
    border-radius: 5px;
	transition: all 0.3s;
}
.button:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
    background-color: #007bff !important;
	border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
	transform: scale(1.2,1.2);
}
.button:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
.btn {
	line-height: 50px;
	height: 50px;
	width: 250px;
	cursor: pointer;
    padding: 0%;
    text-align: center;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.appoint{
    background: black;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    color: white;
}

.media{
    display:flex; 
    flex-direction: row;
     justify-content: center; 
     align-items: center
}

.row{
    margin-left: 20px;
}

input{
    width: 400px;
}

.radio{
    display:flex; 
    flex-direction: row;
    align-items: center
}

.success{
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}